/* Global Selector*/
*{
    /* Css resettingl */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    /* display: flex ;
    justify-content: center; */
    /* border: 1px solid gray;
    border-radius: 10px;
    padding: 10px; */
}
.form{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin-top: 50px;
}
/* h1{
    color: blue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 10px ;
} */
.label{
    display: block;
    margin-left: 15px;
    
}
.button{
    display: block;
    padding: 10px;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    align-items: center;
}
.input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

/* Nav bar */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #2f2f97;
    padding: 20px 40px;
}
nav > div > h1{
    color: white;
}
nav >ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav >ul> li{
    color: white;
    font-weight: bold;
    font-size: larger;
}
nav>ul>li:hover{
    text-underline-offset: 8px;
    text-decoration: underline;
    cursor: pointer;
}
